*.elc
*~
\#*\#
.\#*
/auto-save-list/
/elpa/
/projectile-bookmarks.eld
/projectile.cache
/tramp
/custom.el
/server/
/snippets/
/init-local.el
/recentf
/remote-server
/bookmarks
/request
/url
network-security.data